<% content_for :title do %>About Us - Optimal Suite<% end %>

        <!-- ========== PAGE TITLE ========== -->
        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">
                        <div class="breadcrumb">
                        	<a class="" href="index.html">Home</a>
                        	<i class="icon ion-chevron-right"></i>
                        	<a class="" href="features.html">Pages</a>
                        	<i class="icon ion-chevron-right"></i>
                        	<a class="" href="#">About Us</a>
                        </div> <!-- end breadcrumb -->

                        <h1 class="">Who We Are?</h1>
                        <h5 class="">We are a small team of young & passionate UX Designers.<br>Contact Us at: hi@kevinunkrich.com</h5>
                        <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded mt20">Create Account</a>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>


        <!-- ========== FEATURE DETAILS ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="underline">Passionate About Our Work</h4>
                        <p>Optimal Suite was built when our team realized there was a lack of tools for user experience developers and designers that were affordable and easy to use.</p>
                        <p>We've since launched our first tool "TreeTool" to help with information architecture testing and plan on adding more tools just like it to the suite.</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-4">
                        <h4 class="underline">Optimal Suite</h4>
                        <ul class="highlights">
                            <li><i class="icon ion-checkmark"></i>Looks awesome on any device</li>
                            <li><i class="icon ion-checkmark"></i>Trusted by our users</li>
                            <li><i class="icon ion-checkmark"></i>24*7 Access</li>
                        </ul>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== COUNTERS SECTION ========== -->
    	<section class="se-section counters-section gray-section">
    		<div class="container">
    			<div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-thumbsup"></span>
    					<div class="count-info">
    						<h4><span class="counter">1060</span>+</h4>
    						<p>hours logged.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-happy-outline"></span>
    					<div class="count-info">
    						<h4>Unparalleled</h4>
    						<p>customer service.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-coffee"></span>
    					<div class="count-info">
    						<h4><span class="counter">200</span>+</h4>
    						<p>cups of coffee.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    				<div class="col-md-3 col-sm-6 col-xs-6 counter-box">
    					<span class="count-icon ion-ios-flame-outline"></span>
    					<div class="count-info">
    						<h4>One</h4>
    						<p>great suite.</p>
    					</div> <!-- end count-info -->
    				</div> <!-- end counter-box -->

    			</div> <!-- end row -->
    		</div> <!-- end container -->
    	</section>

        <!-- ========== FAQ SECTION ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How many people are there on the team?</h6>
                        <p>Right now our team is small, but we are looking to expand as we gain more users and add more tools to the suite. This helps us keep our prices low and ensure personal support.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">What is our history?</h6>
                        <p>Our team has worked in User Experience for a couple years before realizing the need for cheaper, but quality UX tools. We decided to start creating them for UX professionals.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How did it start?</h6>
                        <p>It started when we realized that UX professionals need a better method of testing than pen and paper. We made traditional UX methodologies into modern-day tools for your use.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">What are our achievements?</h6>
                        <p>We're proud to launch TreeTool for information architecure and are planning on launching more tools like it in the near future.</p>
                    </div> <!-- end se-faq -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Create Your Account Now!</h3>
                    <p>Get your 14 days free trial.</p>
                    <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded">SIGN UP</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

