<% content_for :title do %>Pricing - Optimal Suite<% end %>
<!-- ========== PAGE TITLE ========== -->
        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">

                        <h1 class="">Pricing</h1>
                        <h5 class="">It's less than 1 cup of coffee per day.</h5>
                        <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded mt20">Create Account</a>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== PRICING ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="se-plan">
                            <div class="plan-header">
                                <span>&nbsp;</span>
                                <h2>$29 <small>/mo</small></h2>
                                <p>Monthly Plan</p>
                            </div> <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>TreeTool Access <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Our #1 Tool for Testing Information Architecture"></i></li>
                                    <li>Pay-As-You-Go <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Choose whether to continue your subscription month-to-month"></i></li>
                                    <li>Charged Monthly</li>
                                    <li>Unlimited Surveys</li>
                                    <li>Unlimited Participants</li>
                                    <li>Access 24/7</li>
                                </ul>
                            </div> <!-- end plan-features -->
                        </div> <!-- end se-plan -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 col-sm-6">
                        <div class="se-plan plan-popular">
                            <div class="plan-header">
                                <span class="strike">$39 /mo</span>
                                <h2>$19 <small>/mo</small></h2>
                                <p>Yearly Plan</p>
                            </div> <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>TreeTool Access <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Our #1 Tool for Testing Information Architecture"></i></li>
                                    <li>Discounted Payment <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Pay less with an annual plan"></i></li>
                                    <li>Charged Yearly <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Digital Recurring Billing Annually"></i></li>
                                    <li>Unlimited Surveys</li>
                                    <li>Unlimited Participants</li>
                                    <li>Access 24/7</li>
                                </ul>
                            </div> <!-- end plan-features -->
                        </div> <!-- end se-plan -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 col-sm-6">
                        <div class="se-plan">
                            <div class="plan-header">
                                <span>&nbsp;</span>
                                <h2>Enterprise</h2>
                                <p>Contact Us</p>
                            </div> <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>TreeTool Access <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Our #1 Tool for Testing Information Architecture"></i></li>
                                    <li>Unlimited Members <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Get an account for everyone in your company"></i></li>
                                    <li>Contact for Price <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="We'll help you determine what setup is best for you"></i></li>
                                    <li>Unlimited Surveys</li>
                                    <li>Unlimited Participants</li>
                                    <li>Access 24/7</li>
                                </ul>
                            </div> <!-- end plan-features -->
                        </div> <!-- end se-plan -->
                    </div> <!-- end col-md-4 -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FAQ SECTION ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I upgrade from one package to another?</h6>
                        <p>Absolutely. You can upgrade or cancel from any plan, at any time. Save money by buying a yearly plan, or test it out by paying month-to-month.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I pay yearly?</h6>
                        <p>You bet! We offer yearly and monthly plans to fit your testing needs. You can also swap between the two as necessary.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I cancel anytime?</h6>
                        <p>You can cancel from your settings whenever you're finished testing, whether you're paying or on a trial.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">14-Day Trial?</h6>
                        <p>We offer a trial so that you can make sure that our product is a right fit for you and you are 100% satisifed.</p>
                    </div> <!-- end se-faq -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Create Your Account Now!</h3>
                    <p>Get Your 14-day Free Trial.</p>
                    <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded">SIGN UP</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>