<!-- ========== PAGE TITLE ========== -->
        <header class="header page-title">
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">


                        <h1 class="">TreeTool - UX Testing Tool</h1>
                        <h5 class="">by Optimal Suite</h5>

                        <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded mt20">Free 14 Days Trial</a>


                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== FEATURE INTRO ========== -->
        <section class="se-section feature-intro single-feature">
            <div class="col-md-6 zero-padding col-md-push-6 side-img">
                <img src="/images/survey-treetool.png" alt="" class="img-responsive">
            </div> <!-- end side-img -->

            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 feature-info">
                        <h2 style="width:80%;">TreeTool - Information Architecture Testing</h2>

                        <p>A tree test is a usability test on the navigation of your site allowing to isolate findability problems in your taxonomy, groups, or labels that are not attributed to design distractions. A large website is typically organized into a hierarchy (a "tree") of topics and subtopics.</p>
                        <p>Ask users to complete a specific task using your information architecture and collect results, analyze them, and gain insights by using TreeTool.</p>
                        <a href="<%= new_user_registration_path %>" class="btn se-btn-black btn-rounded">Sign Up</a>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

                <!-- ========== SINGLE FEATURE SECTION ========== -->
        <section class="se-section single-feature gray-section">

            <div class="col-md-6 zero-padding side-img">
                <img src="/images/results-home.png" alt="" class="img-responsive">
            </div> <!-- end side-img -->

            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                        <h2 style="width:80%;">How Do I Get Started?</h2>

                          <!--                       This type of testing is quite simple. You’re going to ask people how they would do a particular task or look for particular information using your new IA.

For example, if I wanted to test the IA of my conference website, I could ask people to find out some key things like how much it costs, what events are on particular days, and what they’ll get out of the conference. I’m not really asking them to find the answers, as the content won’t be available yet, but asking them where they would look for the information. I show them the IA step-by-step and ask them to indicate where they’d look – it’s that easy. -->

                        <p>Ask users how they would do a particular task or look for particular information using your new information architecture</p>
                        <p>For example, if I wanted to test the IA of a conference website, the survey could ask people to find out some key things like how much it costs, what events are on each day. The layout is shown step-by-step and asks them to indicate where they’d look – it’s that easy.</p>
                        <p>Results are collected and analyzed to see if the layout works.</p>
                        <a href="#" class="btn se-btn btn-rounded">Learn More</a>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FEATURE DETAILS ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="underline">How It Works</h4>
                        <p>Start by building your 'tree' or layout using TreeTool. Then set some common tasks that users often perform on your site, or when interacting with your informatino architecture.</p>
                        <p>From there, send out the survey link that we auto-generate for you. Data and results are collected as participants complete your survey. Data collected and analyzed includes paths taken, first click analysis, directness, final item selected, and more insightful statistics.</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-4">
                        <h4 class="underline">Steps</h4>
                        <ul class="highlights">
                            <li><i class="icon ion-checkmark"></i>Create Your Information Architecture</li>
                            <li><i class="icon ion-checkmark"></i>Set Tasks</li>
                            <li><i class="icon ion-checkmark"></i>Recruit Participants</li>
                            <li><i class="icon ion-checkmark"></i>Collect & Analyze Data</li>
                        </ul>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>



        <!-- ========== FEATURE DETAILS ========== 
        <section class="se-section gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pull-right">
                        <h4 class="underline">Retina Ready</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="col-md-4">
                        <h4 class="underline">Some Highlights</h4>
                        <ul class="highlights">
                            <li><i class="icon ion-checkmark"></i>Looks awesome on any device</li>
                            <li><i class="icon ion-checkmark"></i>Trusted by 2000+ users</li>
                            <li><i class="icon ion-checkmark"></i>24*7 dedicated support</li>
                            <li><i class="icon ion-checkmark"></i>Tested on 117+ devices & browsers</li>
                        </ul>
                    </div> 
                </div> 
            </div> 
        </section>
        -->

        <!-- ========== FAQ SECTION ========== -->
        <section class="se-section gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">What exactly do you get with this?</h6>
                        <p>You get 24/7 Access to our information architecture testing tool "TreeTool" with unlimited surveys, participants, results, and more.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How did you decide charges for this?</h6>
                        <p>We started Optimal Suite with the goal of making Usability tools for UX professionals more accessible. Therefore, our prices are based on keeping that entry to barrier to use these tools low.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Why should I use TreeTool?</h6>
                        <p>Many times users can get lost on sites with large navigations. While search functions helps users find the products, services, or other items they need, many users still use the navigation features. TreeTool helps those users find what they are looking for by proving an IA.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Which plan should I choose?</h6>
                        <p>Both our monthly and yearly plans offer the same great benefits, however, by choosing the yearly plan you can get discounts of up to $120/year and save money.</p>
                    </div> <!-- end se-faq -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Create Your Account Now!</h3>
                    <p>Get a free 14 day trial.</p>
                    <a href="#" class="btn se-btn-black btn-rounded">SIGN UP</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

